[Unit]
Description=pik3s init
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
#ExecStart=/boot/pik3sadm install
ExecStart=/boot/pik3s.sh

[Install]
WantedBy=multi-user.target
