[Unit]
Description=pik3s init
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/boot/pik3sadm

[Install]
WantedBy=multi-user.target
